body{
    font-family: 'Kaisei Decol', serif;
}
.titre {
    margin-right: 300px !important;
} 

#loupe{
    z-index: 2;
    position: absolute;
    left: 1365px;
    top:37%;
}
#rectangle1{
    z-index: 2;
    position: absolute;
    transform: translateX(-50px);
    top: 140px;
    left: 340px;
}
#rectangle2{
    z-index: 2;
    position: absolute;
    transform: translateX(-50px);
    top: 250px;
    left: 890px;
}
#rectangle3{
    z-index: 2;
    position: absolute;
    transform: translateX(-50px);
    top: 300px;
    left:-135%;
}
#rectangle4{
    z-index: 2;
    transform: translateX(-50px);
    bottom: 3%;
    left:960px;
    margin-top: 50px;
}
#promo{
    z-index: 1;
    position: absolute;
    top: 14px;
    left:60px;   
}
#textecarte{
    z-index: 2;
    top: 285px;
    left: 890px;
}
#bouteille1{
    z-index: 3;
    position: absolute;
    top: 270px;
    left: 100px;
    opacity: 0;
}
#bouteille2{
    opacity: 0;
    z-index: 3;
    position: absolute;
    top: 160px;
    left: 160px;
}
#bouteille1:hover{
    opacity: 1;
    z-index: 3;
    position: absolute;
    top: 270px;
    left: 100px;
    #sud{
        opacity: 1;
    }
}
#bouteille2:hover{
    opacity: 1;
    z-index: 3;
    position: absolute;
    top: 160px;
    left: 210px;
    #nord{
        opacity: 0;
    }
}
#sud{
    opacity: 0;
}
#nord{
    opacity: 0;
}
#bouteille1:hover ~ #sud,
#bouteille2:hover ~ #nord {
        opacity: 1;
    }
h3 {
  position: relative;
  text-align: center;
}

h3::before,
h3::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;  
  height: 1px; 
  background-color: black; 
}

h3::before {
  left: 0;
  transform: translateY(-50%);
}

h3::after {
  right: 0;
  transform: translateY(-50%);
}
#foot{
    background-color: rgb(46,120,205);
    left:15%;
    z-index: 0;
}

